# This workflow will pull docker images from gcr.io quay.io and push it to dockerhub or aliyun registry.
#
# To configure this workflow:
#
# 1. Set up env-->global variables as your own: 
#
# 2. Change the values for the DOCKERHUB_PASSWORDã€ALI_PASSWORD environment variables in travis-ci.com:
#    choose "more options-->settings-->Environment Variables"

os: linux
arch: arm64
dist: bionic
language: shell
services: docker

env:
  global:
    - DOCKERHUB_USERNAME=oakgo
    - DOCKER_CLI_EXPERIMENTAL=enabled

before_script:
  - echo '{"experimental":true}' | sudo tee /etc/docker/daemon.json
  - sudo systemctl restart docker
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
 
script:
  - |
    docker version
    echo "start pull retag and push"
    count=$(cat images.txt | wc -l)
    icount=1
    for image in `cat images.txt`
    do
      echo [$icount/$count]: $image
      image_name=${image##*/}
      docker pull $image --platform linux/arm64
      docker image inspect $image | grep -i archi
      docker tag $image $DOCKERHUB_USERNAME/$image_name
      docker image inspect $DOCKERHUB_USERNAME/$image_name | grep -i archi

      # push to dockerhub
      docker push $DOCKERHUB_USERNAME/$image_name
      
      ((icount++))
    done

after_script:
  - docker images --format "{{.Repository}}:{{.Tag}}" | grep $DOCKERHUB_USERNAME
